// ## Primary Colours
// Used for main branding, headings, and key call-to-action elements.
$primary-black: #000000;
$primary-red: #DC143C;

// -----------------------------------------------------------------------------

// ## Secondary Colours
// Used for secondary buttons, links, accents, and informational graphics.
$secondary-charcoal: #4D4D4D;
$secondary-purple: #8061C3;
$secondary-coral: #EA5853;
$secondary-orange: #F09951;
$secondary-green: #43BF73;
$secondary-sky-blue: #64A2F5;
$secondary-royal-blue: #3E68B9;

// -----------------------------------------------------------------------------

// ## Neutral Colours
// Used for body text, backgrounds, borders, and UI elements.
$neutral-grey: #A0A0A0;
$neutral-white: #FFFFFF;