@import '_variables';

card-left {
    width: 50%;
    float: left;
    padding: 20px;
    background-color: aqua;

}

card-right {
    width: 50%;
    float: right;
    padding: 20px;
    background-color: rgb(255, 255, 35);
}